html, body {
  margin: 0;
  padding: 0;

  height: 100%;
  width: 100%;
}
jsl, #app-container, #content-container, #scene, .widget-scene {
  height: 100%;
  width: 100%;
}
#scene {
  position:absolute;
  left:0px;
  bottom:0;
  background-color: #ede9dd;
  z-index:0;
}
